html, body {
    height: 100%;
}

.content-wrapper
{
    background-color: transparent;
}
/* ####################################### LOGIN ############################################## */
.login-container
{
    background-attachment: fixed;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.login-container .login-form {
    background-color: #FDFDFD;
    box-shadow: black 8px 11px;
    height: 20%;
    max-height: 750px;
    max-width: 750px;
    min-height: 350px;
    min-width: 350px;
    padding: 25px;
    width: 20%;
}

.login-container .login-form .login-form-header .login-icon
{
    background-color: black;
    color: #DFDFDF;
    height: 100px;
    width: 100px;
}

.login-container .login-form .login-form-body input
{
    border: 1px solid black;
    padding-left: 30px;
}

.login-container .login-form .login-form-body .incorrect
{
    color:red;
    position: absolute;
}

.login-container .login-form .login-form-body .login-icon
{
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
}

.login-container .login-form .login-form-body input
{
    border: 1px solid black;
    padding-left: 30px;    
}

.login-container .login-form .login-form-body .login-button
{
    background-color: black;
    border: 1px solid white;
    color: white;
}

.login-container .login-form .login-form-body .login-button:hover
{
    background-color: rgb(12, 12, 12);
    border: 1px solid white;
    color: white;
}
/* ####################################### LOGIN ############################################## */

/* #################################### NAVBAR & SIDEBAR ##################################### */
.main-header .menu 
{
    color: black;
}

.main-header .navbar-top .nav .menu-name
{
    color: black;
}

.main-header .navbar-top .nav .menu-logout
{
    background-color: rgb(212, 212, 212);
}

.main-header .navbar-top .nav .menu-logout a
{
    color: red;
}

/* #################################### NAVBAR & SIDEBAR ##################################### */

/* ######################################## STAFF ############################################# */

.add-staff-button
{
    background-color: #22B2DA;
    color: white;
}

.add-staff-button:hover
{
    background-color: rgb(211, 211, 211);
    color: #22B2DA;
}

.add-staff-body input
{
    margin-top: 5px;
}

.add-staff-header
{
    background-color: #22B2DA;
    color: white;
}

.edit-staff .edit-staff-body input
{
    margin-top: 5px;
}

.edit-staff .edit-staff-body .staff_id
{
    display: none;
}

.edit-staff .edit-staff-header
{
    background-color: #22B2DA;
    color: white;
}

.street
{
    width: 100px;
}

.street-number
{
    width: 90px;
}
/* ######################################## STAFF ############################################# */

/* ####################################### STUDENTS ########################################### */

.add-student-button
{
    background-color: #3B4A6B;
    color: white;
}

.add-student-button:hover
{
    background-color: rgb(211, 211, 211);
    color: #3B4A6B;
}

.edit-row
{
    min-width: 60px;
}

.student-form
{
    max-width: 65vw !important;
}

.student-form .student-form-header
{
    background-color: #3B4A6B;
    color: white;
}

.student-id
{
    display: none;
}
/* ####################################### STUDENTS ########################################### */

/* ######################################## COURSES ########################################### */
.add-course
{
    background-color: #F23557;
    color: white;
}

.add-course:hover
{
    background-color: rgb(221, 221, 221);
    color: #F23557;
}

.course-form
{
    max-width: 30vw !important;
    min-width: 600px !important;
}

.course-form-header
{
    background-color: #F23557;
    color: white;
}

.course-id
{
    display: none;
}

.course-code
{
    width: 150px;
}

/* ######################################## COURSES ########################################### */

/* #################################### BUTTON & STUFF ######################################### */
.delete-button
{
    color: red !important; 
}

.edit-button
{
    color: rgb(0, 216, 0) !important;
}

.enroll-student
{
    color: white;
}

.enroll-student:hover
{
    color: white;
}

.incorrect
{
    position: absolute; 
    color: red; 
}

.menu-down:focus
{
    display: none;
}
/* #################################### BUTTON & STUFF ######################################### */

/* ######################################### ENROLL ############################################ */
.result
{
   visibility: hidden;
}

.enroll-student-form
{
    max-width: 50vw !important;
    min-width: 600px !important;
}

/* .enroll-body
{
    background-color: black;
} */

.hidden-form
{
    display: none;
}
/* ######################################### ENROLL ############################################ */