html, body {
    height: 100%;
    width: 100%;
}

.login-body {
    height: 100%;
    width: 100%;
    background-image: url(../img/login_background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-form {
    padding: 0;
    width: 20vw;
    height: 40vh;
    font-size: 100%;
}

.login-form-header {
    width: 100%;
    padding: 1vh 1vw;
    background-color: black;
    color: white;
}

.login-form-body {
    margin: 1vw;
}

.login-form-body .validate {
    color: red;
    margin: 0;
    padding: 0;
}

.form-button {
    background-color: black !important;
    color: white;
    width: 100%;
}

.user-navbar {
    background-color: black;
    color: white;
    width: 100%;
}

.user-navbar-item a {
    color: white;
}

.user-navbar-item a:hover {
    color: cornflowerblue;
}

.user-navbar-item .user-logout {
    color: red;
}

.register-form {
    padding: 0;
    height: 50vh;
    font-size: 100%;
}

.register-form-header {
    width: 100%;
    padding: 1vh 1vw;
    background-color: black;
    color: white;
}

.register-form-body {
    margin: 1vw;
}
.register-form-button {
    background-color: black !important;
    color: white;
    width: 100%;
}

.try{
    width: 20vw;
}